Libraries/8bpl/*.a.*
Libraries/8bpl/src/*.o
Libraries/8bpl/include/config.h

Libraries/Tilengine/*.a.*
Libraries/Tilengine/src/*.o

Libraries/flecs/*.a.*
Libraries/flecs/src/*.o
Libraries/flecs/src/modules/*.o

